body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    color: #2D2D2D;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    width: 94%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar img {
    width: 120px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #536493;
    font-weight: 600;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    color: #8bc34a;
}

.isi {
    width: 60%; 
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    font-size: 16px;
    margin-bottom: 20px;
}

.section-title {
    font-weight: bold;
    margin-top: 20px;
}
